
@{
    ViewBag.Title = "Index";
    // Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
}

<center>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    
    <h1 style="font-weight:700">Welcome To <span style="color: #FF2953">BeFit</span> </h1>
    <p style="width:80%;margin-inline: auto; opacity:0.9; flex-wrap: wrap;font:16px;">
        Memory updated
        Welcome to BeFt! At BeFt, we are dedicated to empowering you on your fitness journey. Our platform is designed to provide you with the best tools, resources, and community support to help you achieve your health and wellness goals. Whether you're a beginner looking to get started or a seasoned athlete aiming to reach new heights, BeFt offers personalized workout plans, expert nutritional advice, and a supportive community to keep you motivated and on track. Join us today and take the first step towards a healthier, fitter you!
    </p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</center>

